
h1 {
    text-align: center;
}

h1 {
    padding: 1.5em 0em;    
}

h2 {
    padding: 0.5em 0em;    
}

body {
    width:100%;
    font-size:large;
    font-weight:400;
}

.fill {
    margin-top:25%;
    clear:both;
}

.fillsm {
    margin-top:15%;
    clear:both;
}

.fill::after, .fillsm::after {
    content: "\00a0\00a0";
}

.fill::before, .fillsm::before {
    content: "\00a0\00a0";
}

#testing {
    width:100%;
    border: solid 1px black;
}

.blackbg {
    background-color: rgba(0, 0, 0, 0.85);
    color:white;
}

.greybg {
    background-color: rgb(90, 89, 89);
    color:white;
}

.orange {
    color: #ffb774;
}

.clear {
    clear:both;
}

.pay {
    float:left;
    width:390px;
    padding: 2em 0em;
}

.rev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



.left {
    float:left;
}

.la {
    text-align:left;
}



h1.pad {
    padding: 0em 1em;
}

.vertical-center {
    /*
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    */
    vertical-align: middle;
  }

