
body {
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.container {
    padding: 0% 20%;
    clear:both;
    min-height:calc(100vh);
    /*
    margin:auto;
    border:  1px solid red; 
    width: 100%;
    */
}

div.containersm {
    padding: 0% 20%;
    clear:both;
    min-height:calc(50vh);

}



@media only screen and (max-width: 500px) {
    body {
        font-size:10pt;
    }

    .ramimg {
        width:10%;
        font-size:2em;
    }

  }


  @media only screen and (max-width: 800px) {
    body {
        font-size:15pt;
    }

    .ramimg {
        width:10%;
    }

  }

 @media (pointer:none), (pointer:coarse) {
    div.container {
        min-height:600px;

    }

    div.containersm {
        min-height:calc(300px);
    
    }    

}